
/*fonts*/
@font-face {
  font-family: "Lemon Milk";
  src: url(fonts/LemonMilk.otf);
}

@font-face {
  font-family: "Caviar Dreams";
  src: url(fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: "Caviar Dreams Bold";
  src: url(fonts/CaviarDreamsBold.ttf);
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url(fonts/ProximaNovaRegular.ttf);
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url(fonts/ProximaNovaLight.ttf);
}

@font-face {
  font-family: "Coolvetica";
  src: url(fonts/Coolvetica.ttf);
}

/*animations*/
@keyframes fadeInDown {
  from {
    opacity: 0;
    top: 40vh;
  }

  to {
    opacity: 1;
    top: 48vh;
  }
}

@keyframes lineanim {
  0% {
    stroke-dashoffset: -2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes lineanimreverse {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -2000;
  }
}

/*hide scrollbar*/
::-webkit-scrollbar {
    display: none;
}

/*root colors and fonts*/
:root {
  --lightblue: #7dbed9; /*size1*/
  --skyblue: #00acc1; /*size2*/
  --oceanblue: #0F6178; /*size3*/
  --deepblue: #00374c; /*navbar*/
  --darkblue: #031424; /*memed*/
  --tartpink: rgba(255,64,129, .5);
  --lightbeige: rgba(238,226,220, .25);
  --pseudowhite: #fffcef;
  --mediumbeige: #EDC7B7;
  --lightgrey: #C5C6C7;

  --titlefont1: "Lemon Milk";
  --titlefont2: "Caviar Dreams Bold";
  --titlefont3: "Coolvetica";
  --bodyfont1: "Caviar Dreams";
  --bodyfont2: "Proxima Nova Light";
  --bodyfont3: "Proxima Nova Regular";
}

html, body {
  width: 100vw;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/*circle animation*/
.circlemain {
  animation: lineanim 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  stroke-dasharray: 2000;
  stroke-width: 1vh;
  stroke: black;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circle {
  display: none;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 2
}

/*intro container w/ logo*/
.container1 {
  width: 100vw;
  height: 100vh;
  background-color: var(--lightbeige);
}

/*menu bar*/
.introfadein{
  opacity: 0;
}

#navbar {
    background-color: #00374c;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 5vh;
    z-index: 4;
    opacity: 1;
    transition: top 0.3s;
    transition-delay: .5s;
}

#navbar a {
    float: right;
    display: block;
    color: var(--pseudowhite);
    text-align: center;
    padding: 1.1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
    font-family: var(--bodyfont2);
    letter-spacing: 1px;
    font-size: 2.4vh;
}

#navbar a:hover {
    background-color: var(--pseudowhite);
    color: var(--deepblue);
    transition-duration: .3s;
    transition-delay: 0s;
}

#navbar #alexyan {
  float: left;
  cursor: pointer;
}

#navbar #alexyan:hover {
  background-color: var(--deepblue);
  color: var(--pseudowhite);
  transition-duration: .3s;
}

.dropdown, .dropdown2 {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn, .dropdown2 .dropbtn2 {
    font-size: 2.4vh;
    border: none;
    outline: none;
    color: var(--pseudowhite);
    letter-spacing: 1px;
    background-color: inherit;
    margin: 0;
    z-index: 2;
}

.dropbtn, .dropbtn2 {
  position: relative;
  top: -.1vh;
  left: .33vw;
}

.dropdowncontent, .dropdowncontent2 {
    display: none;
    position: absolute;
    background-color: var(--deepblue);
    color: var(--pseudowhite);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 5vh;
    margin-left: .75vw;
}

.dropdown:hover .dropdowncontent, .dropdown2:hover .dropdowncontent2{
    display: block;
}

/*contact*/
.contact {
  position: fixed;
  width: 15vw;
  height: 95vh;
  left: 100vw;
  top: 5vh;
  background-color: var(--deepblue);
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  z-index: 10;
}

.contactcontent {
  font-family: var(--bodyfont2);
  font-size: 2.5vh;
  color: var(--pseudowhite);
  margin-top: 2.5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 15vw;
}

.contactbutton{
  cursor: pointer;
}

/*no hover on intro*/
.blockyboy {
  background-color: black;
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}

/*intro sequence*/
.c1title {
  position: absolute;
  top: 48vh;
  left: 50vw;
  font-family: var(--titlefont3);
  font-size: 13vh;
  transform: translate(-50%,-50%);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;
}

/*back button*/
.backarrow {
  opacity: 0;
  position: fixed;
  top: 8vh;
  left: 3vh;
  height: 6vh;
  width: 6vh;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

.backarrow:hover {
  transform: scale(1.05);
  transition: .3s;
  box-shadow: 0 0 0.5vh black;
}

/*question mark*/
.questionmark {
  position: absolute;
  top: 8vh;
  right: 3vh;
  height: 3vh;
  width: 3vh;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.questionmark:hover {
  transform: scale(1.05);
  transition: .3s;
  box-shadow: 0 0 0.3vh black;
}

.info {
  position: absolute;
  top: 7vh;
  right: 2vh;
  height: 21.7vh;
  width: 32vh;
  background-color: var(--lightbeige);
  box-shadow: 0 0 1vh rgba(0,0,0,.25);
  opacity: 0;
}

.wordcolor {
  position: absolute;
  height: 3vh;
  width: 3vh;
  border-radius: 80%;
  top: 3vh;
  left: 3vh;
}

.worddescription {
  position: absolute;
  font-size: 4vh;
  margin-top: 2vh;
  top: 0vh;
  left: 8vh;
  font-family: var(--titlefont3)
}

.titlesequence {
  font-family: var(--titlefont3);
  position: absolute;
  top: 48vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.titlesequencewords {
  transform: none;
}

.size3 {
  font-size: 10vh;
  color: var(--oceanblue);
  transition: .5s;
  opacity: 0;
  cursor: pointer;
}

.size2 {
  font-size: 7vh;
  color: var(--skyblue);
  transition: .5s;
  opacity: 0;
  cursor: pointer;
}

.size1 {
  font-size: 5vh;
  color: var(--lightblue);
  transition: .5s;
  opacity: 0;
  cursor: pointer;
}

/*large*/
.ts-entrepreneurship {
  position: absolute;
  top: 3vh;
  left: 0vh;
}

.ts-design {
  position: absolute;
  top: -13vh;
  left: 12vh;
}

.ts-debate {
  position: absolute;
  top: 16vh;
  left: -31vh;
}

.ts-finance {
  position: absolute;
  top: -15vh;
  left: -40.4vh;
  z-index: 2;
}

.ts-photography {
  position: absolute;
  top: -28vh;
  left: -31.4vh;
}

.ts-tennis {
  position: absolute;
  top: 2.6vh;
  left: -56.4vh;
}

.ts-cuisine {
  position: absolute;
  top: 16.4vh;
  left: 20vh;
}

/*medium*/

.ts-flotato {
  position: absolute;
  top: -2vh;
  left: 23vh;
}

.ts-web {
  position: absolute;
  top: -16.7vh;
  left: 29vh;
}

.ts-graphic {
  position: absolute;
  top: -12vh;
  left: -10vh;
}

.ts-foodstand {
  position: absolute;
  top: 12vh;
  left: -8.5vh;
}

.ts-coaching{
  position: absolute;
  top: 4.5vh;
  left: -27.4vh;
}

.ts-bitcoin {
  position: absolute;
  top: -6vh;
  left: -42vh;
}

.ts-series {
  position: absolute;
  top: -19vh;
  left: -28vh;
}

.ts-zest {
  position: absolute;
  top: 12vh;
  left: 46vh;
}

/*small*/

.ts-drive {
  position: absolute;
  top: .7vh;
  left: -34vh;
}

.ts-leadership {
  position: absolute;
  top: 12.4vh;
  left: -31.5vh;
}

.ts-creativity {
  position: absolute;
  top: -16.3vh;
  left: -9vh;
}

.ts-initiative {
  position: absolute;
  top: 13vh;
  left: 25.5vh;
}

/*container 2 :: bitcoin project*/

.container2 {
  position: absolute;
  top: 100vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  background-color: var(--mediumbeige);
  z-index: 1;
}

.container2contents {
  opacity: 0;
}

.wordarray {
  position: absolute;
  top: 10vh;
  left: 4vw;
  z-index: 3;
  font-family: var(--titlefont3);
  float: left;
}

.wordarray div {
  margin-left: 4vh;
  float: left;
}

.size3static {
  font-size: 10vh;
  color: var(--oceanblue);
}

.size2static {
  font-size: 7vh;
  color: var(--skyblue);
  margin-top: 3vh;
}

.size1static {
  font-size: 5vh;
  color: var(--lightblue);
  margin-top: 5vh;
}
