
/*fonts*/
@font-face {
  font-family: "Lemon Milk";
  src: url(fonts/LemonMilk.otf);
}

@font-face {
  font-family: "Caviar Dreams";
  src: url(fonts/CaviarDreams.ttf);
}

@font-face {
  font-family: "Caviar Dreams Bold";
  src: url(fonts/CaviarDreamsBold.ttf);
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url(fonts/ProximaNovaRegular.ttf);
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url(fonts/ProximaNovaLight.ttf);
}

@font-face {
  font-family: "Coolvetica";
  src: url(fonts/Coolvetica.ttf);
}

/*animations*/
@keyframes fadeInDown {
  from {
    opacity: 0;
    top: -10vh;
  }

  to {
    opacity: 1;
    top: 0vh;
  }
}

@keyframes lineanim {
  0% {
    stroke-dashoffset: -3000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes lineanimreverse {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -3000;
  }
}

/*hide scrollbar*/
::-webkit-scrollbar {
    display: none;
}

/*root colors and fonts*/
:root {
  --lightblue: rgba(141,217,247, 0.7); /*size1*/
  --skyblue: #7dbed9; /*size2*/
  --oceanblue: #0F6178; /*size3*/
  --deepblue: #00374c; /*navbar*/
  --buttons: rgba(141,217,247, 0.4); /*enlarge buttons*/
  --darkblue: #031424; /*memed*/
  --tartpink: rgba(255,64,129, .5);
  --lightbeige: rgba(238,226,220, .25);
  --pseudowhite: #fffcef;
  --mediumbeige: #EDC7B7;
  --lightgrey: #C5C6C7;

  --titlefont1: "Lemon Milk";
  --titlefont2: "Caviar Dreams Bold";
  --titlefont3: "Coolvetica";
  --bodyfont1: "Caviar Dreams";
  --bodyfont2: "Proxima Nova Light";
  --bodyfont3: "Proxima Nova Regular";
}

html, body {
  width: 100vw;
  height: 100%;
  margin: 0;
  overflow: auto;
  cursor: default;
}

/*circle animation*/
.circlemain {
  animation: lineanim 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  stroke-dasharray: 3000;
  stroke-width: 1vh;
  stroke: black;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circle {
  display: none;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/*intro container w/ logo*/
.container1 {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1;
}

/*menu bar*/

#navbar {
    background-color: #00374c;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 5vh;
    z-index: 4;
    opacity: 0;
}

#navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 1.1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
    font-family: var(--bodyfont2);
    letter-spacing: 1px;
    font-size: 2.4vh;
}

#navbar a:hover {
    background-color: white;
    color: var(--deepblue);
    transition-duration: .3s;
    transition-delay: 0s;
}

#navbar #alexyan {
  float: left;
  cursor: pointer;
}

#navbar #alexyan:hover {
  background-color: var(--deepblue);
  color: white;
  transition-duration: .3s;
  text-decoration: none;
}

/*question mark*/
.questionmark {
  position: absolute;
  top: 8vh;
  right: 3vh;
  height: 3vh;
  width: 3vh;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
}

.questionmark:hover {
  transform: scale(1.05);
  transition: .3s;
  box-shadow: 0 0 0.3vh black;
}

.info {
  position: absolute;
  top: 7vh;
  right: 2vh;
  height: 21.7vh;
  width: 32vh;
  background-color: white;
  box-shadow: 0 0 1vh black;
  opacity: 0;
  z-index: 1;
}

.wordcolor {
  position: absolute;
  height: 3vh;
  width: 3vh;
  border-radius: 80%;
  top: 3vh;
  left: 3vh;
}

.worddescription {
  position: absolute;
  font-size: 4vh;
  margin-top: 2vh;
  top: 0vh;
  left: 8vh;
  font-family: var(--titlefont3)
}

/*contact*/
.contact {
  position: fixed;
  width: 15vw;
  height: 95vh;
  left: 100vw;
  top: 5vh;
  background-color: var(--deepblue);
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  z-index: 4;
  display: none;
}

.contactcontent {
  font-family: var(--bodyfont2);
  font-size: 2.5vh;
  color: white;
  margin-top: 2.5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 15vw;
}

.contactbutton{
  cursor: pointer;
}

/*no hover on intro*/
.blockyboy {
  background-color: black;
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}

/*intro sequence*/
.c1title {
  position: absolute;
  font-family: var(--titlefont3);
  font-size: 13vh;
  transform: translate(-50%,-50%);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;
}

/*back button*/
.backarrow {
  opacity: 0;
  position: fixed;
  top: 8vh;
  left: 3vh;
  height: 6vh;
  width: 6vh;
  cursor: pointer;
  border-radius: 50%;
  z-index: 3;
}

.backarrow:hover {
  transform: scale(1.05);
  transition: .3s;
  box-shadow: 0 0 0.5vh black;
}

.titlesequence {
  font-family: var(--titlefont3);
  position: absolute;
  top: 48vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.titlesequencewords {
  transform: none;
}

.size3 {
  font-size: 10vh;
  color: var(--oceanblue);
  transition: .5s;
  opacity: 0;
  cursor: pointer;
}

.size2 {
  font-size: 7vh;
  color: var(--skyblue);
  transition: .5s;
  opacity: 0;
  pointer-events: none;
}

.size1 {
  font-size: 5vh;
  color: var(--lightblue);
  transition: .5s;
  opacity: 0;
  pointer-events: none;
}

/*large*/
.ts-entrepreneurship {
  position: absolute;
  top: 3vh;
  left: -5vh;
}

.ts-design {
  position: absolute;
  top: -13vh;
  left: 12vh;
}

.ts-finance {
  position: absolute;
  top: -15vh;
  left: -40.4vh;
  z-index: 2;
}

.ts-photography {
  position: absolute;
  top: -28vh;
  left: -31.4vh;
}

.ts-tennis {
  position: absolute;
  top: 2.6vh;
  left: -56.4vh;
}

.ts-music {
  position: absolute;
  top: 2.6vh;
  left: -54.4vh;
}

/*medium*/

.ts-bitcoin {
  position: absolute;
  top: -6vh;
  left: -42vh;
}

.ts-foodstand {
  position: absolute;
  top: 12vh;
  left: -13.5vh;
}

.ts-graphic {
  position: absolute;
  top: -12vh;
  left: -10vh;
}

.ts-production {
  position: absolute;
  top: 11.3vh;
  left: -47.4vh;
}

.ts-flotato {
  position: absolute;
  top: -2vh;
  left: 23vh;
}


.ts-series {
  position: absolute;
  top: -19vh;
  left: -28vh;
}

.ts-zest {
  position: absolute;
  top: 12vh;
  left: 41vh;
}

.ts-piano {
  position: absolute;
  top: -1vh;
  left: -56.8vh;
}

/*small*/

.ts-drive {
  position: absolute;
  top: .7vh;
  left: -34vh;
}

.ts-leadership {
  position: absolute;
  top: 6.1vh;
  left: -28vh;
}

.ts-creativity {
  position: absolute;
  top: -16.3vh;
  left: -9vh;
}

.ts-initiative {
  position: absolute;
  top: 13vh;
  left: 20.5vh;
}

/*word boys*/
.wordarray {
  position: absolute;
  top: 10vh;
  left: 4vw;
  z-index: 1;
  font-family: var(--titlefont3);
  float: left;
}

.wordarray div {
  margin-left: 4vh;
  float: left;
}

.size3static {
  font-size: 10vh;
  color: var(--oceanblue);
}

.size2static {
  font-size: 7vh;
  color: var(--skyblue);
  margin-top: 3vh;
}

.size1static {
  font-size: 5vh;
  color: var(--lightblue);
  margin-top: 5vh;
}

.horizontalline {
  width: 20vh;
  height: .5vh;
  background-color: var(--deepblue);
  z-index: 2;
  position: absolute;
  top: 24vh;
  left: 13vh;
}

.verticalline {
  height: 41vh;
  width: .5vh;
  background-color: var(--deepblue);
  z-index: 2;
  position: absolute;
  top: 47vh;
  left: 13vh;
}


/*container 2 :: bitcoin project*/

.container2 {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 0;
}

.container2contents {
  opacity: 0;
}

/*container 3 :: photography*/

.container3 {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 0;
}

.container3contents {
  opacity: 0;
}

.photographyimageswrapper {
  margin-right: 2vh;
}

.photographyimages {
  position: absolute;
  height: 23vh;
  width: 40vh;
  box-shadow: 0 0 1vh black;
}

.photographybutton {
  position: absolute;
  width: 20vh;
  height: 4vh;
  border-radius: 2vh;
  border-radius: 2vh;
  border-style: solid;
  border-width: .2vh;
  border-color: var(--deepblue);
  background-color: white;
  color: var(--deepblue);
  font-family: var(--bodyfont3);
  text-align: center;
  vertical-align: middle;
  line-height: 4vh;
  cursor: pointer;
  text-decoration: none;
  transition: .4s;
}

.photographybutton:hover {
  background-color: var(--buttons);
  box-shadow: 0 0 .5vh var(--buttons);
}

/*container 4 :: flotato*/

.container4 {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 0;
}

.container4contents {
  opacity: 0;
}

.projecttitle {
  font-family: var(--titlefont3);
  font-size: 15vh;
  position: absolute;
  top: 25vh;
  left: 13vh;
  color: var(--deepblue);
}

.projectyear {
  font-family: var(--titlefont3);
  font-size: 10vh;
  position: absolute;
  top: 44vh;
  left: 15vh;
  color: var(--deepblue);
}

.projectdescription {
  font-family: var(--bodyfont2);
  font-size: 4vh;
  position: absolute;
  top: 55vh;
  left: 15vh;
  color: var(--deepblue);
  width: 65vh;
  margin-top: 1vh;
}

.projectimage {
  position: absolute;
  top: 48vh;
  left: 90vh;
  width: 56vh;
  height: 40vh;
  box-shadow: 0 0 1vh black;
  z-index: 4;
}

.enlargeimage {
  position: absolute;
  top: 50vh;
  left: 155vh;
  width: 25vh;
  height: 5vh;
  border-radius: 2vh;
  border-style: solid;
  border-width: .2vh;
  border-color: var(--deepblue);
  background-color: white;
  color: var(--deepblue);
  font-family: var(--bodyfont3);
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  cursor: pointer;
  transition: .4s;
}

.enlargeimage:hover {
  background-color: var(--buttons);
  box-shadow: 0 0 .5vh var(--buttons);
}

.projectcover {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.5);
  z-index: 3;
  display: none;
}

.close {
  position: absolute;
  top: 8vh;
  right: 3vh;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  z-index: 4;
  display: none;
  cursor: pointer;
  box-shadow: 0 0 1vh black;
}

.close:hover{
  transform: scale(1.05);
  transition: .3s;
  box-shadow: 0 0 0.5vh white;
}

.mySlides1{
  display: none
}


img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 36vw;
  position: absolute;
  top: 30vh;
  left: 130vh;
  margin: auto;
  margin-right: 5vh;
  z-index: 4;
  box-shadow: 0 0 1vh black;
}

/* Next & previous buttons */
.prev1, .next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1vw;
  margin-top: -4vh;
  color: var(--darkblue);
  font-weight: bold;
  font-size: 4vh;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev1:hover, .next1:hover {
  background-color: rgba(255,255,255, 0.4));
  color: var(--darkblue);
}

.enlargeslides {
  position: absolute;
  top: 82vh;
  left: 156vh;
  width: 25vh;
  height: 5vh;
  border-radius: 2vh;
  border-style: solid;
  border-width: .2vh;
  border-color: var(--deepblue);
  background-color: white;
  color: var(--deepblue);
  font-family: var(--bodyfont3);
  text-align: center;
  vertical-align: middle;
  line-height: 5vh;
  cursor: pointer;
  transition: .4s;
}

.enlargeslides:hover {
  background-color: var(--buttons);
  box-shadow: 0 0 .5vh var(--buttons);
}

/*container 5 :: foodstand*/

.container5 {
  position: absolute;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 0;
}

.container5contents {
  opacity: 0;
}

.scrollline {
  height: 10vh;
  width: .5vh;
  background-color: var(--deepblue);
  z-index: 2;
  position: fixed;
  bottom: 0;
  right: 10vh;
  z-index: 3;
  opacity: 0;
}

.scrolltitle {
  transform: rotate(90deg);
  font-family: var(--titlefont3);
  font-size: 8vh;
  color: var(--deepblue);
  position: fixed;
  bottom: 25vh;
  right: -8vh;
  z-index: 3;
  letter-spacing: .7vh;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
}

/*container 6 :: zest*/

.container6 {
  position: absolute;
  top: 100vh;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 2;
  display: none;
}
